body {
  background: #F4F1EA;
}

.hidden {
  width: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main .inner {
  width: 68%;
  height: fit-content;
  margin: 9% 16% 0;
}

h2 {
  width: 100%;
  height: fit-content;
  margin: 0 0 1.4vw 2%;
  color: #141414;
  font-size: 1.6vw;
  font-weight: 600;
  font-family: "Noto Sans KR";
}

.content {
  width: 96%;
  height: fit-content;
  padding: 2%;
  margin-bottom: 5vw;
  background: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .search {
  width: 100%;
  height: 100%;
}
.content .search .dep-01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 96%;
  margin: 2% auto 4%;
}
.content .search .dep-01 .title {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: 2% 0 1% 2%;
  font-family: "Noto Sans KR";
  font-size: 1.44vw;
  font-weight: 500;
}
.content .search .dep-01 .title span {
  display: block;
  width: fit-content;
  padding: 2px 7px;
  margin-left: 0.6vw;
  font-size: 0.6em;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
  border-radius: 50px;
  background: #e49400;
}
.content .search .dep-01 ul {
  width: 96%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2%;
  margin-top: 2%;
}
.content .search .dep-01 .card-btn {
  width: 42%;
  height: fit-content;
  padding: 0.8em 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F1EA;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.content .search .dep-01 i {
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  background: url("../img/select.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.6;
}
.content .search .dep-01 .card-btn h3 {
  display: inline-block;
  text-align: center;
  font-size: 1.2vw;
  font-family: "Noto Sans KR";
}
.content .search .dep-01 .card-btn:hover {
  font-weight: bold;
}
.content .search .dep-01 .card-btn:hover i {
  background: url("../img/select_o.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
}
.content .search .dep-01 .card-btn.checked {
  font-weight: bold;
  background: #ffd87c !important;
}
.content .search .dep-01 .card-btn.checked i {
  background: url("../img/select_o.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
}
.content .search .dep-02 {
  width: 96%;
  height: 86%;
  margin: 2% auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR";
}
.content .search .dep-02 .title {
  width: 98%;
  margin: 2% 0 1% 2%;
  font-family: "Noto Sans KR";
  font-size: 1.44vw;
  font-weight: 500;
}
.content .search .dep-02 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.content .search .dep-02 .left {
  width: 16%;
  height: 48vh;
  margin: 2% 1% 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content .search .dep-02 .left .custom-btn {
  width: calc(100% - 6vh);
  height: calc(48% - 6vh);
  padding: 3vh;
  font-size: 1.2vw;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(34, 34, 34, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.content .search .dep-02 .left .custom-btn span {
  position: absolute;
  bottom: 2.4vh;
  right: 2.4vh;
  font-size: 2.4vw;
  color: #055DF2;
}
.content .search .dep-02 .left .custom-btn:hover {
  background: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.5), -2px -2px 6px 0 rgba(116, 125, 136, 0.5), inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.content .search .dep-02 .left .custom-btn.checked {
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.5), -2px -2px 6px 0 rgba(116, 125, 136, 0.5), inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.content .search .dep-02 .left .custom-btn:nth-child(1).checked {
  background: #ffc0c7 !important;
}
.content .search .dep-02 .left .custom-btn:nth-child(2).checked {
  background: #ffdaa7 !important;
}
.content .search .dep-02 .right {
  width: 84%;
  height: 48vh;
  margin: 2% 2% 2% 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content .search .dep-02 .right ul {
  width: 100%;
  height: 30.3333333333%;
}
.content .search .dep-02 .right .custom-btn {
  float: left;
  margin-right: 2.6666666667%;
  padding: 2.6vh 2vh;
  width: calc(23% - 4vh);
  height: calc(100% - 5.2vh);
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(34, 34, 34, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.content .search .dep-02 .right .custom-btn:nth-child(4n) {
  margin-right: 0;
}
.content .search .dep-02 .right .custom-btn span {
  position: absolute;
  bottom: 1.8vh;
  right: 1.8vh;
  font-size: 2vw;
  color: #055DF2;
}
.content .search .dep-02 .right .custom-btn:hover {
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.5), -2px -2px 6px 0 rgba(116, 125, 136, 0.5), inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.content .search .dep-02 .right .custom-btn.checked {
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(255, 255, 255, 0.5), -2px -2px 6px 0 rgba(116, 125, 136, 0.5), inset -2px -2px 6px 0 rgba(255, 255, 255, 0.2), inset 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}
.content .search .dep-02 .right .custom-btn:nth-child(1).a.checked {
  background: #c7ffb5 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(2).a.checked {
  background: #c4c0ff !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(3).a.checked {
  background: #c9c9c9 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(4).a.checked {
  background: #f5ffb7 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(1).b.checked {
  background: #f8ff99 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(2).b.checked {
  background: #ffb7ea !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(3).b.checked {
  background: #c0f5ff !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(4).b.checked {
  background: #daffc8 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(1).c.checked {
  background: #bac8ff !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(2).c.checked {
  background: #92ff9f !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(3).c.checked {
  background: #ffc1b4 !important;
}
.content .search .dep-02 .right .custom-btn:nth-child(4).c.checked {
  background: #b1ffdd !important;
}
.content .search_btn {
  width: 22%;
  height: 100%;
  padding: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR";
}
.content .search_btn p {
  display: block;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.1vw;
}
.content .search_btn span {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 0.8em 0.65em;
  background: transparent;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  color: #0078ff;
  font-size: 1.1vw;
  font-weight: 600;
  letter-spacing: 0.15vw;
  border: 2px solid #0078ff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.content .search_btn span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: #0078ff;
  transition: all 0.3s ease;
  overflow: hidden;
}
.content .search_btn span:hover {
  color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(34, 34, 34, 0.2);
}
.content .search_btn span:active {
  top: 2px;
}
.content .search_btn span:hover:after {
  left: 0;
  width: 100%;
}

@media all and (max-width: 1024px) {
  main .inner {
    width: 80%;
    margin: 12.5% 10% 0;
  }
  main h2 {
    font-size: 1.3em !important;
    margin-bottom: 4% !important;
  }
  main .content {
    flex-direction: column;
  }
  main .search .dep-01 .title {
    font-size: 1.15em !important;
  }
  main .search .dep-01 .card-btn h3 {
    font-size: 1.1em !important;
  }
  main .search .dep-01 i {
    width: 1.1em !important;
    height: 1.1em !important;
  }
  main .search .dep-02 .title {
    font-size: 1.15em !important;
  }
  main .search .dep-02 .left {
    height: 40vh !important;
  }
  main .search .dep-02 .left .custom-btn {
    width: calc(100% - 4vh) !important;
    height: calc(48% - 4vh) !important;
    padding: 2vh !important;
    font-size: 1.1em !important;
  }
  main .search .dep-02 .right {
    height: 40vh !important;
  }
  main .search .dep-02 .right .custom-btn {
    width: calc(23% - 3.2vh) !important;
    height: calc(100% - 4vh) !important;
    padding: 2vh 1.6vh !important;
    font-size: 0.9em !important;
  }
  main .search_btn {
    width: 100% !important;
    padding: 6% 1% !important;
  }
  main .search_btn p {
    font-size: 1.4em !important;
  }
  main .search_btn span {
    font-size: 1.3em !important;
    box-shadow: 0px 3px 3px 0px rgba(34, 34, 34, 0.2) !important;
  }
  main .search_btn span:active {
    top: 2px;
    color: #fff !important;
  }
  main .search_btn span:active:after {
    left: 0;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  main .inner {
    margin-top: 14%;
  }
  main h2 {
    font-size: 1.1em !important;
  }
  main .search .dep-01 .title {
    font-size: 1.05em !important;
  }
  main .search .dep-01 .card-btn h3 {
    font-size: 1em !important;
  }
  main .search .dep-01 i {
    width: 1em !important;
    height: 1em !important;
  }
  main .search .dep-02 .title {
    font-size: 1.05em !important;
  }
  main .search .dep-02 .left {
    height: 38vh !important;
  }
  main .search .dep-02 .left .custom-btn {
    font-size: 0.95em !important;
  }
  main .search .dep-02 .right {
    height: 38vh !important;
  }
  main .search .dep-02 .right .custom-btn {
    font-size: 0.8em !important;
  }
  main .search_btn {
    width: 100% !important;
  }
  main .search_btn p {
    font-size: 1.1em !important;
  }
  main .search_btn span {
    font-size: 1em !important;
  }
}
@media all and (max-width: 450px) {
  main .inner {
    width: 90%;
    margin: 20% 5% 0;
  }
  main h2 {
    font-size: 1.1em !important;
    margin: 0 0 6% 1.4em !important;
  }
  main .content {
    margin-bottom: 10% !important;
  }
  main .search .dep-01 .title {
    font-size: 1.05em !important;
    margin-bottom: 2.5% !important;
  }
  main .search .dep-01 .card-btn h3 {
    font-size: 0.8em !important;
  }
  main .search .dep-01 i {
    width: 0.85em !important;
    height: 0.85em !important;
  }
  main .search .dep-02 {
    height: fit-content !important;
    margin-top: 8% !important;
  }
  main .search .dep-02 .title {
    font-size: 1.05em !important;
    margin-bottom: 2.5% !important;
  }
  main .search .dep-02 > div {
    flex-direction: column !important;
  }
  main .search .dep-02 .left {
    width: 96% !important;
    height: 90px !important;
    margin: 2% 2% 2% 1% !important;
    flex-direction: row !important;
  }
  main .search .dep-02 .left .custom-btn {
    width: calc(48% - 3.2vh) !important;
    height: calc(100% - 4vh) !important;
    padding: 2vh 1.6vh !important;
    font-size: 0.95em !important;
  }
  main .search .dep-02 .left .custom-btn span {
    font-size: 1.4em !important;
  }
  main .search .dep-02 .right {
    width: 96% !important;
    height: 620px !important;
  }
  main .search .dep-02 .right ul {
    height: 196px !important;
  }
  main .search .dep-02 .right ul li:nth-child(2n) {
    margin-right: 0 !important;
  }
  main .search .dep-02 .right ul li:nth-child(1n+3) {
    margin-top: 16px !important;
  }
  main .search .dep-02 .right .custom-btn {
    width: calc(48% - 3.2vh) !important;
    height: calc(90px - 4vh) !important;
    font-size: 0.9em !important;
  }
  main .search .dep-02 .right .custom-btn span {
    font-size: 1.4em !important;
  }
  main .search_btn {
    width: 100% !important;
  }
  main .search_btn p {
    font-size: 1.1em !important;
  }
  main .search_btn span {
    font-size: 0.9em !important;
  }
}