* {margin: 0; padding: 0; box-sizing: border-box;	outline: none;}

a {text-decoration: none;}

$font_Godo_M: "Godo_M";
$font_Godo_B: "Godo_B";

.inner {
  width: 100%; height: 100vh; user-select: none;
  background: url(../images/background1_1.jpg) no-repeat; background-size: cover;
  display: flex; justify-content: center; align-items: center;
  .container {
    max-width: 1559px; max-height: 876px; z-index: 10; position: relative;
    padding: .3%; background: #000;
    border: 2px solid #67b22b; border-radius: 30px;
    .wrap {
      display: flex; justify-content: center; align-items: center; height: 100%;
      .logo2 {
        z-index: 30;
        width: 8%; height: 4%; position: absolute; top: -5.6%; left: 46%;
        img {width: 100%;}
      }
      .bezel {
        height: 100%;
        #screen {width: 100%; height: 100%; border-radius: 26px;}
      }      
      .camera_zoom {
        position: absolute; top: 30%; left: 1.8%;
        img {width: 50%;}
      }
      .camera_bolt {
        position: absolute; top: 33%; left: 94.2%; cursor: pointer;
        transition: all .2s ease-in-out;
        img {width: 45%;}
      }
      .camera_bolt.blinkActive~.bezel>#screen {
        animation-name: camera_blink;
        animation-duration: .4s;
        @keyframes camera_blink {
          0% {filter: brightness(100%);}
          50% {filter: brightness(500%);}
          100% {filter: brightness(100%);}
        }
      }
      .camera_live {
        position: absolute; bottom: 36.4%; left: 94.4%; cursor: pointer;
        transition: all .2s ease-in-out;
        img {width: 45%;}
      }
      .camera_live.active~.live {display: block;}
      .live {
        display: none; font-size: 1.4rem; font-weight: bold;
        position: absolute; top: 5%; left: 49%; letter-spacing: 1px;
        padding: 10px 12px; background: #ffd50a; border-radius: 3px;
        animation-name: live_blink;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        @keyframes live_blink {
          0% {opacity: 0;}
          50% {opacity: 1;}
          100% {opacity: 0;}
        }
      }
      .menu_btn {
        position: absolute; bottom: 48%; right: 2.4%; z-index: 40;
        width: 58px; height: 58px; background: #fff; border-radius: 50%;
        border: 3px solid #000; transition: all .2s ease-in-out; outline: 7px solid #fff;
        #line {
          width: 50%; height: 2px; background: #e5e5e5;
          position: absolute; top: 47%; left: 24.6%; transition: all .1s ease-in-out;
          &:first-child {
            transform: rotate(-45deg); opacity: 0; visibility: hidden;
          }
          &:last-child {
            transform: rotate(45deg); opacity: 0; visibility: hidden;
          }
        }
        animation-name: ring_blink;
        animation-duration: 3s;
        animation-iteration-count: infinite;
          @keyframes ring_blink {
            0% {outline-color: #fff;}
            50% {outline-color: #111;}
            100% {outline-color: #fff;}
          }
        &:hover {  
          transform: scale(1.1);
        }
        &.showActive {
          #line {background: #111; top: 46%; left: 25%;}
          #line:first-child {opacity: 1; visibility: visible;}
          #line:last-child {opacity: 1; visibility: visible;}
        }
      }

      .all_menu {
        width: 0%; height: 98.2%; position: absolute; top: .9%; right: .42%;
        border-radius: 25px; z-index: 30; transition: all .2s ease-in-out;
        font-family: 'Noto Sans KR';
        &.showActive {
          width: 99.2%;
          & + .menu_text {top: 6%; opacity: 1; visibility: visible;}
          & ~ .custom_card {opacity: 1; visibility: visible;}
        }
        
        #left_area {
          background: #F4F1EA; width: 35%; height: 100%; float: left;
          border-radius: 22px 0 0 22px;
        }
        #right_area {
          background: #fff; width: 65%; height: 100%; float: right;
          border-radius: 0 22px 22px 0;        
        }      
      }
      
      .menu_text {
        width: 60%; height: 92.26%; font-family: 'Noto Sans KR';
        opacity: 0; visibility: hidden; transition: all .2s ease-in-out;
        position: absolute; top: 5%; left: 35%; z-index: 30;
        #depth_1 {
          display: flex; flex-direction: column;
          padding: 0 2.7em;
          & > li {
            font-weight: bold; font-size: 1.125rem; padding: 2.16em 0;
            border-bottom: 1px solid #dfdfdf;
            // 폰트 18 픽셀
          }
          & > li:first-child {padding-top: 4.31em;}
          a {
            width: 20%; color: #191919; display: block; float: left; margin-right: .3em;
            &:hover {color: #0078ff;}
          }
          #depth_2 {
            display: flex; transition: all .2s ease-in-out; font-size: 1rem; flex-wrap: wrap;
            padding-left: 2em;
            // 폰트 16 픽셀
            & > li {font-weight: normal; margin-right: 1.6em;}
            a {
              color: #333; display: block; width: 100%; padding-bottom: 1em;
              transition: all .2s ease-in-out;
              &:hover {color: #0078ff;}
            }
            #credit_link {color: #0078ff; font-weight: 500;}
            #check_link {color: #0078ff; font-weight: 500;}
          }
        }
      }
      .custom_card {
        width: 30%; height: 92.26%;
        position: absolute; top: 15%; left: 7%; z-index: 30; line-height: 1.5;
        opacity: 0; visibility: hidden; transition-delay: .1s;
        #custom_title {
          font-size: 2.5rem; font-weight: bold; color: #333; font-weight: bold;
          span {color: #0078ff;}
          // 폰트 40 픽셀
        }
        #custom_text {
          font-size: 1.88rem; padding-top: 1em;
          // 폰트 30 픽셀
        }
        #custom_link {
          font-size: 1.56rem; margin-top: 3em; padding: .34em 2em .5em; background: #0078ff; color: #fff;
          border-radius: 10px; display: inline-block; transition: all .2s ease-in-out;
          border: 1px solid transparent; font-weight: bold; cursor: pointer;
          // 폰트 25 픽셀
          &:hover {background: #fff; border-color: #0078ff; color: #0078ff;}
        }
        #custom_img {width: 7%; vertical-align: -3px;}
      }
      
      .custom_menu {
        background: #fff; padding: 5% 5%; display: none; font-family: 'Noto Sans KR';
        width: 99.2%; height: 98.2%; position: absolute; top: .9%; right: .42%;
        border-radius: 25px; z-index: 40; transition: all .2s ease-in-out;        
        &.customActive {display: block;}
        .custom_header {
          padding: 1.875em 2.5em;
          h4 {font-size: 1.5rem; font-weight: 700; color: #111;}
        }
        .custom_container {
          display: flex; justify-content: space-between;
          .filter {
            padding: 1.5625em 2.5em 1.5625em; width: 72%;
            .type {
              .type_title {
                font-size: 1rem; font-weight: 700; color: #111; line-height: 1.63;
                margin-bottom: .625em;
              }
              .type_selector {
                label {
                  background: #fff; padding: .8125em 4.1875em 1.0625em; border: none;
                  border-radius: 2px; cursor: pointer; display: inline-block; text-align: center;
                  box-shadow: 0 0 0 1px #d8dee4; transition: all 0.2s ease;
                  .type_name {font-size: .9375rem; font-weight: 500;}
                }
                input {
                  clip: rect(0, 0, 0, 0); border-width: 0; height: 1px; margin: -1px;
                  overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px;
                  &:checked + label {box-shadow: 0 0 0 1.5px #675dff; color: #0078ff;}
                  &:focus + label {
                    box-shadow: 0 0 0 1.5px #675dff, 0 0 0 4px rgba(1, 150, 237, .36);
                  }
                }
              }
            }
            .benefit {
              margin-top: 2.1875em;
              .benefit_title {
                font-size: 1rem; font-weight: 700; color: #111; line-height: 1.63;
                margin-bottom: .625em;
              }
              .benefit_selector {                
                ul {display: flex; flex-wrap: wrap;}
                label {margin: 0 .3125em .3125em 0;
                  background: #fff; padding: .8125em .9375em 1.0625em; border: none;
                  border-radius: 2px; cursor: pointer; display: inline-block; text-align: center;
                  box-shadow: 0 0 0 1px #d8dee4; transition: all 0.2s ease;
                  .benefit_name {
                    font-size: .9375rem; font-weight: 500; display: inline-block;
                    width: 8.33vw;
                  }
                }
                input {
                  clip: rect(0, 0, 0, 0); border-width: 0; height: 1px; margin: -1px;
                  overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px;
                  &:checked + label {box-shadow: 0 0 0 1.5px #675dff; color: #0078ff;}
                  &:focus + label {
                    box-shadow: 0 0 0 1.5px #675dff, 0 0 0 4px rgba(1, 150, 237, .36);
                  }      
                }
              }
            }
          }
          .result {background: #F4F1EA;
            display: flex; justify-content: center; align-items: center;
            box-shadow: 0 0 0 1px #d8dee4; transition: all .2s ease-in-out;
            width: 22%; margin: 1% 3%; border-radius: 15px; position: relative;
            .result_button {
              text-align: center;
              input {
                clip: rect(0, 0, 0, 0); border-width: 0; height: 1px; margin: -1px;
                overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px;
              }
              label {
                background: #fff; border: none; border-radius: 2px;
                cursor: pointer; display: inline-block; text-align: center;
                box-shadow: 0 0 0 1px #d8dee4; transition: all .2s ease-in-out;
              }
              #chip {
                width: 14%; position: absolute; top: 10%; right: 43%;
              }
              #result_number {
                line-height: 1.5; font-size: 2.5rem; font-weight: 900;
              }
              #result_text {
                line-height: 1.5; font-size: 1.25rem; font-weight: 500;
              }
              #result_link {
                font-size: 1rem; font-weight: 700; color: #111; box-shadow: 0 0 0 1px #d8dee4;;
                cursor: pointer; display: inline-block; text-align: center;
                background: #fff; padding: .8125em 3.4375em 1.0625em; border: none;
                border-radius: 2px; transition: all .2s ease-in-out; margin-top: 15px;
                &:hover {
                  color: #fff; background: #0078ff;
                }
              }
            }
          }
        }
        .reset {
          padding: 1.875em 2.5em;
          button {
            clip: rect(0, 0, 0, 0); border-width: 0; height: 1px; margin: -1px;
            overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px;
          }
          label {
            width: 15.2%; padding: .75em 0; font-size: 1rem; font-weight: 700; color: #111;
            background: #fff; border: none; border-radius: 2px;
            cursor: pointer; display: inline-block; text-align: center;
            box-shadow: 0 0 0 1px #d8dee4; transition: all .2s ease-in-out;
            &:hover {color: #fff; background: #0078ff;}
            img {width: 12%; vertical-align: middle;}
          }
        }
        .custom_close {
          position: absolute; top: 3%; right: -1.5%;
          img {width: 50%;}
        }
      }

      .credit_top10 {
        background: #fff; padding: 2% 3% 3% 3%; display: none; font-family: 'Noto Sans KR';
        width: 99.2%; height: 98.2%; position: absolute; top: .9%; right: .42%;
        border-radius: 25px; z-index: 40; transition: all .2s ease-in-out;
        &.creditActive {display: block;}
        .credit_header {
          padding: .625em 0 1.875em;
          h4 {font-size: 1.5rem; font-weight: 700; color: #111;}
        }
        .credit_container {
          display: flex; justify-content: space-between;
          .credit_top3 {
            width: 52%;
            ul {
              display: flex; justify-content: space-between;
              li {
                width: 32%; border: 1px solid #d8dee4; border-radius: 5px;
                transition: all .2s ease-in-out;
                a {color: #111;}
                p {font-size: 1.25rem; font-weight: 700; margin: .5em 0 0 .75em;}
                .photo {
                  width: 100%; margin: 10% 5%;
                  img {width: 90%; padding: 0% 10%;}
                }
                .box {
                  h4 {font-size: 1.125rem; font-weight: 500; text-align: center;}
                }
                .tag {
                  margin: .625em 0; text-align: center; color: #666;
                }
                &:hover {
                  background: #0078ff;
                  .tag {color: #fff;}
                }
              }
            }
          }
          .credit_list {
            width: 46%;
            ul {
              display: flex; flex-direction: column;
              li {
                width: 100%; margin-bottom: 2%; transition: all .2s ease-in-out;
                border: 2px solid transparent; border-radius: 5px;
                a {color: #111;}
                .photo {
                  width: 7%; float: left; margin-right: .9375em;
                  img {width: 100%; margin-top: 14%;}
                }
                .box {
                  padding: .8% 0;
                  h4 {font-size: 1rem; font-weight: 600; letter-spacing: .5px;}
                  p {font-size: .875rem; margin: 1em 0 .3125em;}
                  .tag {
                    color: #666; font-size: .875rem;
                  }
                }
                &:hover {
                  border-color: #d8dee4;
                }
              }
              
            }
          }
          .credit_close {
            position: absolute; top: 3%; right: -1.5%;
            img {width: 50%;}
          }
        }
      }

      .check_top10 {
        background: #fff; padding: 2% 3% 3% 3%; display: none; font-family: 'Noto Sans KR';
        width: 99.2%; height: 98.2%; position: absolute; top: .9%; right: .42%;
        border-radius: 25px; z-index: 40; transition: all .2s ease-in-out;
        &.checkActive {display: block;}
        .check_header {
          padding: .625em 0 1.875em;
          h4 {font-size: 1.5rem; font-weight: 700; color: #111;}
        }
        .check_container {
          display: flex; justify-content: space-between;
          .check_top3 {
            width: 52%;
            ul {
              display: flex; justify-content: space-between;
              li {
                width: 32%; border: 1px solid #d8dee4; border-radius: 5px;
                transition: all .2s ease-in-out;
                a {color: #111;}
                p {font-size: 1.25rem; font-weight: 700; margin: .5em 0 0 .75em;}
                .photo {
                  width: 100%; margin: 10% 5%;
                  img {width: 90%; padding: 0% 10%;}
                }
                .box {
                  h4 {font-size: 1.125rem; font-weight: 500; text-align: center;}
                }
                .tag {
                  margin: .625em 0; text-align: center; color: #666;
                }
                &:hover {
                  background: #0078ff;
                  .tag {color: #fff;}
                }
              }
            }
          }
          .check_list {
            width: 46%;
            ul {
              display: flex; flex-direction: column;
              li {
                width: 100%; margin-bottom: 2%; transition: all .2s ease-in-out;
                border: 2px solid transparent; border-radius: 5px;
                a {color: #111;}
                .photo {
                  width: 7%; float: left; margin-right: .9375em;
                  img {width: 100%; margin-top: 14%;}
                }
                .box {
                  padding: .8% 0;
                  h4 {font-size: 1rem; font-weight: 600; letter-spacing: .5px;}
                  p {font-size: .875rem; margin: 1em 0 .3125em;}
                  .tag {
                    color: #666; font-size: .875rem;
                  }
                }
                &:hover {
                  border-color: #d8dee4;
                }
              }
              
            }
          }
          .check_close {
            position: absolute; top: 3%; right: -1.5%;
            img {width: 50%;}
          }
        }
      }

      .pc {
        position: absolute; top: 30%; right: 18%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffff66); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 34px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #pc_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}

        &:hover {
          width: 100px; right: 16.4%;
          &::before {display: none;}
          &::after {right: -110px; opacity: 1; visibility: visible;}
          #pc_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "OTT"; position: absolute; top: 0; right: -150px; line-height: 2.5;
          width: 100px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .pc_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .pc.active + .pc_swiper {opacity: 1; visibility: visible;}

      .bag {
        position: absolute; bottom: 18%; left: 30%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffff88); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 35px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #bag_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}
        
        &:hover {
          width: 100px; left: 28.6%;
          &::before {display: none;}
          &::after {right: -170px; opacity: 1; visibility: visible;}
          #bag_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "SHOPPING"; position: absolute; top: 0; right: -220px; line-height: 2.5;
          width: 160px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .bag_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .bag.active + .bag_swiper {opacity: 1; visibility: visible;}

      .trip {
        position: absolute; top: 12%; left: 51%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffffaa); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 35px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #trip_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}

        &:hover {
          width: 100px; left: 49.4%;
          &::before {display: none;}
          &::after {right: -120px; opacity: 1; visibility: visible;}
          #trip_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "TRIP"; position: absolute; top: 0; right: -170px; line-height: 2.5;
          width: 110px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .trip_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .trip.active + .trip_swiper {opacity: 1; visibility: visible;}

      .movie {
        position: absolute; top: 12%; left: 72.4%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffff88); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 35px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #movie_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}

        &:hover {
          width: 100px; left: 70.6%;
          &::before {display: none;}
          &::after {right: -170px; opacity: 1; visibility: visible;}
          #movie_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "MOVIE"; position: absolute; top: 0; right: -220px; line-height: 2.5;
          width: 160px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .movie_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .movie.active + .movie_swiper {opacity: 1; visibility: visible;}

      .delievery {
        position: absolute; bottom: 5%; right: 47.2%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffffbb); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 35px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #delievery_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}

        &:hover {
          width: 100px; right: 45.6%;
          &::before {display: none;}
          &::after {right: -190px; opacity: 1; visibility: visible;}
          #delievery_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "DELIEVERY"; position: absolute; top: 0; right: -250px; line-height: 2.5;
          width: 180px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .delievery_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .delievery.active + .delievery_swiper {opacity: 1; visibility: visible;}

      .car {
        position: absolute; top: 6.6%; left: 26%; cursor: pointer; color: #fff;
        width: 50px; height: 50px; border: 1px solid #999; border-radius: 8px;
        background: radial-gradient(transparent, #ffffffbb); font-weight: 900; text-align: center;
        font-size: 20px; line-height: 35px; transition: .2s ease-in-out; font-family: 'Noto Sans KR';

        #car_click {display: none; margin-top: 7px; text-shadow: 0 0 2px #000;}

        &:hover {
          width: 100px; left: 24%;
          &::before {display: none;}
          &::after {right: -110px; opacity: 1; visibility: visible;}
          #car_click {display: block;}
        }
        &::before {content: ""; position: absolute; top: 50%; left: 50%;
          margin-top: -4px; margin-left: -4px;
          width: 8px; height: 8px; background: #fff; border-radius: 50%;}
        &::after {
          content: "CAR"; position: absolute; top: 0; right: -150px; line-height: 2.5;
          width: 100px; height: 50px; border-radius: 15px; background: #F4F1EA;
          opacity: 0; visibility: hidden; transition: all .2s ease-in-out; color: #333;
        }
      }
      .car_swiper {opacity: 0; visibility: hidden; transition: all .2s ease-in-out;}
      .car.active + .car_swiper {opacity: 1; visibility: visible;}

      .tutorial {
        width: 24%; height: 30%; background: #ffffff; font-family: 'Noto Sans KR';
        border-radius: 8px; position: absolute; top: 28%; left: 39%; 
        box-shadow: 1px 1px 2px #000000aa; padding: 1.6em;
        &.tutoActive {display: none;}
        #tuto_title {
          font-size: 1.25rem; display: inline-block;
          // 폰트 20 픽셀
          font-weight: 500;
        }
        #tuto_text1 {
          font-size: .94rem; display: inline-block;
          // 폰트 15 픽셀
          font-weight: 400; padding-top: 1em;
        }
        #tuto_text2 {
          font-size: .94rem; display: inline-block;
          // 폰트 15 픽셀
          font-weight: 400; padding-top: 1em; display: none;
        }
        #tuto_close {
          font-size: .94rem; display: inline-block; padding: 40% 0 0 90%;
          // 폰트 15 픽셀
          font-weight: 600; color: #0033ff; text-decoration: none;
        }
        #dot_box {
          position: absolute; top: 45%; left: 45%; color: #333;
          width: 50px; height: 50px; border: 1px solid #333; border-radius: 8px;
          background: radial-gradient(transparent, #ffffffbb);
          &::before {content: ""; position: absolute; top: 50%; left: 50%;
            margin-top: -4px; margin-left: -4px;
            width: 8px; height: 8px; background: #333; border-radius: 50%;}
        }
        #mouse {
          position: absolute; top: 70%; left: 84%; transition: all .2s ease-in-out;
          
          animation-name: mouse_move;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          @keyframes mouse_move {
            from {top: 56%; left: 54%; transform: scale(1.4);}
            to {top: 54%; left: 49.6%; transform: scale(1);}
          }
        }
        #touch {
          display: none;
          position: absolute; top: 55%; left: 58%; transition: all .2s ease-in-out;
          animation-name: finger_move;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          @keyframes finger_move {
            0% {left: 58%; transform: scale(1.6);}
            40% {left: 49%; transform: scale(1); opacity: 1;}
            50% {left: 49%; transform: scale(1); opacity: .1;}
            60% {left: 49%; transform: scale(1); opacity: 1;}
            100% {left: 58%; transform: scale(1.6);}
          }
        }
      }      
      
      .swiper {
        width: 60%; height: 65%; border-radius: 15px; position: absolute; top: 17%; left: 20%;
        font-family: 'Noto Sans KR'; user-select: none;
        .swiper_close {
          cursor: pointer; position: absolute; top: 1%; right: 1%; z-index: 30;
          width: 6%; transition: all .2s ease-in-out;
          img {width: 100%;}
        }
      }
      .swiper-slide {border-radius: 15px; justify-content: center;
        background: #F4F1EA; display: flex; align-items: center; padding: 2% 8%;}
      .swiper-slide img {
        display: block; width: 45%; object-fit: cover; padding-left: 11%;
      }
      .swiper-slide ul {
        width: 100%; height: 71%; display: flex; flex-direction: column; align-items: center;
        justify-content: space-between;
      }
      .swiper-slide #sub_title {
        font-size: 1.875rem; font-weight: bold; line-height: 1.2; text-align: center;
        // 폰트 25 픽셀
      }
      .swiper-slide #sub_text1 {
        font-size: 1.5rem; font-weight: 500; color: #333; line-height: 1.2; text-align: center;
        // 폰트 20 픽셀
      }
      .swiper-slide #sub_text2 {
        font-size: 1.3rem; font-weight: 300; color: #333; line-height: 1.2; text-align: center;
        // 폰트 16 픽셀
      }
      .swiper-slide #sub_link a {
        font-size: 1.5rem; padding: .38em 1.6em .5em; background: #0078ff; color: #fff;
        border-radius: 10px; display: inline-block; transition: all .2s ease-in-out;
        border: 1px solid transparent; font-weight: bold;
        // 폰트 20 픽셀
        &:hover {background: #fff; border-color: #0078ff; color: #0078ff;}
      }
      .button {color: #333 !important; border-radius: 5px;}
      .button:hover {color: #0078ff !important;}
    }
  }
}

.rotate_screen {
  position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 100;
  background: #000000ee; display: none;
  .rotate_icon {
    width: 30%; margin: 90% auto 0;
    img {width: 100%;}
  }
}
.rotate_text {
  position: fixed; top: 38%; left: 22.4%; z-index: 100;
  display: none; color: #fff; font-size: 1.2rem; font-weight: bold;
}

@media (max-width: 1024px){
  .inner .container .wrap .all_menu {
    top: .8%; right: .42%;
    &.all_menu.active {width: 99.3%;}
    #left_area {border-radius: 22px 0 0 22px;}
    #right_area {border-radius: 0 22px 22px 0;}
  }

  .inner .container .wrap .menu_text #depth_1 {
    padding: 1em;
    & > li {padding: 1em 0 0 0;}
    & > li:first-child {padding-top: .5em;}
    a {width: 26%;}
  }
  
  .inner .container .wrap .tutorial {
    left: 39.4%; padding: .8em;
    #tuto_text1 {display: none;}
    #tuto_text2 {display: block; padding-top: .5em;}
    #tuto_close {padding: 5.6em 0 0 12.4em;}
    #dot_box {top: 44%; left: 44%;}
    #mouse {display: none;}
    #touch {display: block;}
  }
  
  .inner .container .wrap .swiper {
    top: 16%; left: 18.4%;
    .swiper-slide {
      #sub_title {font-size: 1.5rem;}
      #sub_text1 {font-size: 1.2rem;}
      #sub_text2 {font-size: 1.1rem;}
      #sub_link a {font-size: 1.2rem; padding: .38em 1.4em .5em;}
      img {width: 38%; padding-left: 2.5em;}
    }
  }
  
  .inner .container .wrap .custom_card {
    left: 4%; height: 80%; top: 10%;
    #custom_title {font-size: 1.88rem;}
    #custom_text {font-size: 1.56rem;}
    #custom_link a {font-size: 1.2rem; padding: .34em 1.4em .42em;}
  }

  .inner .container .wrap .custom_menu {
    top: .8%; padding: .4em 1em; border-radius: 23px;
    .custom_header {padding: 1em;}
    .custom_container {
      .filter {
        width: 62.8%; padding: 1em;
        .benefit {
          margin-top: 1.2em;
          .benefit_selector {
            label {
              .benefit_name {width: 15.56vw;}
            }
          }
        }
      }
      .result {
        width: 26%; height: 44.6vh; margin-top: 3.4em;
      }
    }
    .reset {
      padding: 0 1em;
      label {width: 20%; padding: .75em;}
    }
  }

  .inner .container .wrap .credit_top10 {
    top: .8%; padding: .4em 1em; border-radius: 23px;
    .credit_container {
      .credit_top3 {
        ul {
          li {
            .box {
              h4 {font-size: .8rem;}
            }
            .tag {font-size: .8rem;}
          }
        }
      }
      .credit_list {
        ul {
          li {
            margin-bottom: 0;
            .photo {width: 8.2%; margin-top: -.5%;}
            .box {
              padding: .4%;
              p {font-size: .8rem; margin: .7em 0 .3em;}
              .tag {font-size: .8rem;}
            }
          }
        }
      }
    }
  }

  .inner .container .wrap .check_top10 {
    top: .8%; padding: .4em 1em; border-radius: 23px;
    .check_container {
      .check_top3 {
        ul {
          li {
            .box {
              h4 {font-size: .8rem;}
            }
            .tag {font-size: .8rem;}
          }
        }
      }
      .check_list {
        ul {
          li {
            margin-bottom: 0;
            .photo {width: 8.2%; margin-top: -.5%;}
            .box {
              padding: .4%;
              p {font-size: .8rem; margin: .7em 0 .3em;}
              .tag {font-size: .8rem;}
            }
          }
        }
      }
    }
  }

  .inner .container .wrap .pc {top: 28.4%; right: 17.4%;}
  .inner .container .wrap .pc:hover {right: 15%;}
  .inner .container .wrap .bag {bottom: 18%; left: 30%;}
  .inner .container .wrap .bag:hover {left: 28%;}
  .inner .container .wrap .trip {top: 12%; left: 51%;}
  .inner .container .wrap .trip:hover {left: 48.6%;}
  .inner .container .wrap .movie {top: 10%; left: 71.6%;}
  .inner .container .wrap .movie:hover {left: 69.8%;}
  .inner .container .wrap .delievery {bottom: 4%; right: 46.6%;}
  .inner .container .wrap .delievery:hover {right: 44%;}
  .inner .container .wrap .car {top: 5.2%; left: 25.2%;}
  .inner .container .wrap .car:hover {left: 23.2%;}
  .inner .container .wrap .menu_btn {width: 50px; height: 50px;}
  .inner .container .wrap .camera_zoom {top: 28%;}
  .inner .container .wrap .camera_zoom img {width: 40%;}
}

@media (max-width: 768px) {
  .inner {
    .container {
      height: 100%;
      .wrap {
        .logo2 {top: 1%;}
        .camera_zoom {
          img {width: 30%;}
        }
        .live {
          font-size: .7rem; font-weight: 500; padding: 4px; top: 7%; left: 46.9%;
        }
        .menu_btn {
          width: 30px; height: 30px; border: 2px solid #000; outline: 4px solid #fff;
        }
        .tutorial {
          width: 40%; height: 46%; top: 25%; left: 30%; padding: .5em;
          #tuto_title {font-size: 1.2rem;}
          #tuto_text2 {font-size: 1rem;}
          #tuto_close {font-size: 1rem; padding: 34% 0 0 85%;}
          #dot_box {
            width: 34px; height: 34px; top: 43%;
            &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          }
          #touch {
            top: 49%;
            @keyframes finger_move {
              0% {left: 53%; transform: scale(1.2);}
              40% {left: 45.6%; transform: scale(1); opacity: 1;}
              50% {left: 45.6%; transform: scale(1); opacity: .1;}
              60% {left: 45.6%; transform: scale(1); opacity: 1;}
              100% {left: 53%; transform: scale(1.2);}
            }
          }
        }
        .pc {
          width: 34px; height: 34px;
          &:hover {
            width: 34px; right: 17.4%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #pc_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .bag {
          width: 34px; height: 34px; bottom: 16%; left: 25%;
          &:hover {
            width: 34px; left: 25%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #bag_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .trip {
          width: 34px; height: 34px; top: 11%; left: 50%;
          &:hover {
            width: 34px; left: 50%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #trip_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .movie {
          width: 34px; height: 34px; top: 9%; left: 71.6%;
          &:hover {
            width: 34px; left: 71.6%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #movie_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .delievery {
          width: 34px; height: 34px; bottom: 4%; right: 46%;
          &:hover {
            width: 34px; right: 46%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #delievery_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .car {
          width: 34px; height: 34px; top: 4.6%; left: 25%;
          &:hover {
            width: 34px; left: 25%;
            &::before {display: block;}
            &::after {opacity: 1; visibility: visible;}
            #car_click {display: none;}
          }
          &::before {width: 6px; height: 6px; top: 53%; left: 53%;}
          &::after {display: none;}
        }
        .swiper {
          width: 70%; height: 75%; top: 13%; left: 14%;
          .swiper-slide {
            padding: 1% 5%;
            img {width: 40%;}
            #sub_title {font-size: 1.2rem;}
            #sub_text1 {font-size: 1rem;}
            #sub_text2 {font-size: .8rem; font-weight: 500;}
            #sub_link {
              a {font-size: 1rem;}
            }
          }
        }
        .custom_card {
          #custom_title {font-size: 1.4rem;}
          #custom_text {font-size: 1.18rem;}
          #custom_link {
            font-size: 1rem; padding: .14em 1.2em .3em; border-radius: 5px;
            margin-top: 2em;
          }
          #custom_img {width: 10%;}
        }
        .menu_text {
          #depth_1 {
            padding: 0 1em;
            & > li {font-size: .8rem; padding: .6em 0;}
            a {width: 30%;}
            #depth_2 {
              font-size: .7rem;
              & > li {margin-right: .8em;}
              a {padding-bottom: .6em;}
            }
          }
        }
        .custom_menu {
          padding: 0;
          .custom_header {
            padding: 1em 0 0 1em;
            h4 {font-size: 1.2rem;}
          }
          .custom_container {
            .filter {
              padding: .6em 0 .6em 1em; width: 76%;
              .type {
                .type_title {font-size: .9rem;}
                .type_selector {
                  label {
                    padding: .1125em 2.4475em .3625em;
                    .type_name {font-size: .8rem;}
                  }
                }
              }
              .benefit {
                margin-top: .6em;
                .benefit_title {font-size: .9rem;}
                .benefit_selector {
                  label {
                    padding: .1125em .1875em .3625em;
                    .benefit_name {
                      font-size: .8rem; width: 16vw;
                      #s_icon {display: none;}
                    }
                  }
                }
              }
            }
            .result {
              width: 26%; height: 56vh; margin-top: 2.5em;
              .result_button {
                #chip {top: 6%;}
                #result_number {font-size: 2rem;}
                #result_text {font-size: 1rem;}
                #result_link {
                  font-size: .9rem; padding: .5125em .8375em .6625em;
                }
              }
            }
          }
          .reset {
            padding: 0 0 0 1em;
            label {padding: .5625em .2875em .4625em; font-size: .8rem;}
          }
          .custom_close {
            right: -8%;
            img {width: 30%;}
          }
        }
        .credit_top10 {
          padding: .6em;
          .credit_header {
            padding: 1em 0 .6em 0;
            h4 {font-size: 1.2rem;}
          }
          .credit_container {
            .credit_top3 {
              width: 56%;
              ul {
                li {
                  width: 32%;
                  p {font-size: 1rem;}
                  .photo {
                    margin: .5em .7em;
                    img {width: 80%; padding: 0;}
                  }
                  .box {
                    h4 {font-size: .6rem;}
                  }
                  .tag {font-size: .6rem;}
                }
              }
            }
            .credit_list {
              width: 40%;
              ul {
                li {
                  margin-bottom: .1em;
                  .photo {
                    margin-right: .6em;
                    img {width: 90%; margin-top: .2em;}
                  }
                  .box {
                    padding: .1em 0;
                    h4 {font-size: .8rem;}
                    p {display: none;}
                    .tag {padding-top: .4em;}
                  }
                }
              }
            }
            .credit_close {
              right: -8%;
              img {width: 30%;}
            }
          }
        }
        .check_top10 {
          padding: .6em;
          .check_header {
            padding: 1em 0 .6em 0;
            h4 {font-size: 1.2rem;}
          }
          .check_container {
            .check_top3 {
              width: 56%;
              ul {
                li {
                  width: 32%;
                  p {font-size: 1rem;}
                  .photo {
                    margin: .5em .7em;
                    img {width: 80%; padding: 0;}
                  }
                  .box {
                    h4 {font-size: .6rem;}
                  }
                  .tag {font-size: .6rem;}
                }
              }
            }
            .check_list {
              width: 40%;
              ul {
                li {
                  margin-bottom: .1em;
                  .photo {
                    margin-right: .6em;
                    img {width: 90%; margin-top: .2em;}
                  }
                  .box {
                    padding: .1em 0;
                    h4 {font-size: .8rem;}
                    p {display: none;}
                    .tag {padding-top: .4em;}
                  }
                }
              }
            }
            .check_close {
              right: -8%;
              img {width: 30%;}
            }
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
	.rotate_screen {display: block;}
  .rotate_text {display: block;}
}