* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

.inner {
  width: 100%;
  height: 100vh;
  background: url(../images/background1_1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner .wrap {
  max-width: 1559px;
  max-height: 876px;
  position: relative;
}
.inner .wrap .backBg {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.inner .wrap h1 {
  position: absolute;
  top: -5.4%;
  left: 47.3%;
}
.inner .wrap h1 img {
  width: 16%;
}
.inner .wrap .camera_zoom {
  position: absolute;
  top: 30%;
  left: 1.8%;
}
.inner .wrap .camera_zoom img {
  width: 50%;
}
.inner .wrap .camera_bolt {
  position: absolute;
  top: 33%;
  left: 94.2%;
}
.inner .wrap .camera_bolt img {
  width: 45%;
}
.inner .wrap .camera_ring {
  position: absolute;
  bottom: 47.18%;
  right: 1.43%;
  width: 6.16%;
  height: 10.2%;
  border: 8px solid #fff;
  border-radius: 50%;
  animation-name: ring_blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes ring_blink {
  0% {
    border-color: #fff;
  }
  50% {
    border-color: #111;
  }
  100% {
    border-color: #fff;
  }
}
.inner .wrap .camera_reverse {
  position: absolute;
  bottom: 37%;
  left: 94.2%;
}
.inner .wrap .camera_reverse img {
  width: 45%;
}
.inner .wrap .menu_btn {
  position: absolute;
  bottom: 48%;
  right: 2%;
  z-index: 40;
  width: 5%;
  height: 8.4%;
  background: #fff;
  border-radius: 50%;
  border: 3px solid #000;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .menu_btn:hover {
  background: #ffd50a;
}
.inner .wrap .all_menu {
  width: 0%;
  height: 97.1%;
  position: absolute;
  top: 1.3%;
  right: 0.8%;
  border-radius: 25px;
  z-index: 30;
  transition: all 0.2s ease-in-out;
  font-family: "Noto Sans KR";
}
.inner .wrap .all_menu.active {
  width: 98.4%;
}
.inner .wrap .all_menu.active + .menu_text {
  top: 6%;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .all_menu.active ~ .custom_card {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .all_menu #left_area {
  background: #F4F1EA;
  width: 35%;
  height: 100%;
  float: left;
  border-radius: 25px 0 0 25px;
}
.inner .wrap .all_menu #right_area {
  background: #fff;
  width: 65%;
  height: 100%;
  float: right;
  border-radius: 0 25px 25px 0;
}
.inner .wrap .menu_text {
  width: 60%;
  height: 92.26%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 5%;
  left: 35%;
  z-index: 30;
}
.inner .wrap .menu_text #depth_1 {
  display: flex;
  flex-direction: column;
  padding: 0 2.7em;
}
.inner .wrap .menu_text #depth_1 > li {
  font-weight: bold;
  font-size: 1.125rem;
  padding: 2.16em 0;
  border-bottom: 1px solid #dfdfdf;
}
.inner .wrap .menu_text #depth_1 > li:first-child {
  padding-top: 4.31em;
}
.inner .wrap .menu_text #depth_1 a {
  width: 20%;
  color: #191919;
  display: block;
  float: left;
  margin-right: 0.3em;
}
.inner .wrap .menu_text #depth_1 a:hover {
  color: #0078ff;
}
.inner .wrap .menu_text #depth_1 #depth_2 {
  display: flex;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  flex-wrap: wrap;
  padding-left: 2em;
}
.inner .wrap .menu_text #depth_1 #depth_2 > li {
  font-weight: normal;
  margin-right: 1.6em;
}
.inner .wrap .menu_text #depth_1 #depth_2 a {
  color: #333;
  display: block;
  width: 100%;
  padding-bottom: 1em;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .menu_text #depth_1 #depth_2 a:hover {
  color: #0078ff;
}
.inner .wrap .custom_card {
  width: 30%;
  height: 92.26%;
  position: absolute;
  top: 15%;
  left: 7%;
  z-index: 30;
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.1s;
}
.inner .wrap .custom_card #custom_title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  font-weight: bold;
}
.inner .wrap .custom_card #custom_title span {
  color: #0078ff;
}
.inner .wrap .custom_card #custom_text {
  font-size: 1.88rem;
  padding-top: 1em;
}
.inner .wrap .custom_card #custom_link a {
  font-size: 1.56rem;
  margin-top: 3em;
  padding: 0.34em 2em 0.5em;
  background: #0078ff;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  font-weight: bold;
}
.inner .wrap .custom_card #custom_link a:hover {
  background: #fff;
  border-color: #0078ff;
  color: #0078ff;
}
.inner .wrap .custom_card #custom_img {
  width: 7%;
  vertical-align: -3px;
}
.inner .wrap .pc {
  position: absolute;
  top: 30%;
  right: 18%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.4));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .pc #pc_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .pc:hover {
  width: 100px;
  right: 16.4%;
}
.inner .wrap .pc:hover::before {
  display: none;
}
.inner .wrap .pc:hover::after {
  right: -110px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .pc:hover #pc_click {
  display: block;
}
.inner .wrap .pc::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .pc::after {
  content: "OTT";
  position: absolute;
  top: 0;
  right: -150px;
  line-height: 2.5;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .pc_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .pc.active + .pc_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .bag {
  position: absolute;
  bottom: 18%;
  left: 30%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.5333333333));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .bag #bag_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .bag:hover {
  width: 100px;
  left: 28.6%;
}
.inner .wrap .bag:hover::before {
  display: none;
}
.inner .wrap .bag:hover::after {
  right: -170px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .bag:hover #bag_click {
  display: block;
}
.inner .wrap .bag::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .bag::after {
  content: "SHOPPING";
  position: absolute;
  top: 0;
  right: -220px;
  line-height: 2.5;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .bag_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .bag.active + .bag_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .trip {
  position: absolute;
  top: 12%;
  left: 51%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.6666666667));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .trip #trip_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .trip:hover {
  width: 100px;
  left: 49.4%;
}
.inner .wrap .trip:hover::before {
  display: none;
}
.inner .wrap .trip:hover::after {
  right: -120px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .trip:hover #trip_click {
  display: block;
}
.inner .wrap .trip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .trip::after {
  content: "TRIP";
  position: absolute;
  top: 0;
  right: -170px;
  line-height: 2.5;
  width: 110px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .trip_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .trip.active + .trip_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .movie {
  position: absolute;
  top: 12%;
  left: 72.4%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.5333333333));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .movie #movie_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .movie:hover {
  width: 100px;
  left: 70.6%;
}
.inner .wrap .movie:hover::before {
  display: none;
}
.inner .wrap .movie:hover::after {
  right: -170px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .movie:hover #movie_click {
  display: block;
}
.inner .wrap .movie::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .movie::after {
  content: "MOVIE";
  position: absolute;
  top: 0;
  right: -220px;
  line-height: 2.5;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .movie_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .movie.active + .movie_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .delievery {
  position: absolute;
  bottom: 5%;
  right: 47.2%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.7333333333));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .delievery #delievery_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .delievery:hover {
  width: 100px;
  right: 45.6%;
}
.inner .wrap .delievery:hover::before {
  display: none;
}
.inner .wrap .delievery:hover::after {
  right: -190px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .delievery:hover #delievery_click {
  display: block;
}
.inner .wrap .delievery::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .delievery::after {
  content: "DELIEVERY";
  position: absolute;
  top: 0;
  right: -250px;
  line-height: 2.5;
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .delievery_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .delievery.active + .delievery_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .car {
  position: absolute;
  top: 6.6%;
  left: 26%;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.7333333333));
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  transition: 0.2s ease-in-out;
}
.inner .wrap .car #car_click {
  display: none;
  margin-top: 7px;
  text-shadow: 0 0 2px #000;
}
.inner .wrap .car:hover {
  width: 100px;
  left: 24.6%;
}
.inner .wrap .car:hover::before {
  display: none;
}
.inner .wrap .car:hover::after {
  right: -110px;
  opacity: 1;
  visibility: visible;
}
.inner .wrap .car:hover #car_click {
  display: block;
}
.inner .wrap .car::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.inner .wrap .car::after {
  content: "CAR";
  position: absolute;
  top: 0;
  right: -150px;
  line-height: 2.5;
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background: #F4F1EA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  color: #333;
}
.inner .wrap .car_swiper {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.inner .wrap .car.active + .car_swiper {
  opacity: 1;
  visibility: visible;
}
.inner .wrap .tutorial {
  width: 24%;
  height: 30%;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 28%;
  left: 39%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6666666667);
  padding: 1.6em;
}
.inner .wrap .tutorial.active {
  display: none;
}
.inner .wrap .tutorial #tuto_title {
  font-size: 1.25rem;
  display: inline-block;
  font-weight: 500;
}
.inner .wrap .tutorial #tuto_text1 {
  font-size: 0.94rem;
  display: inline-block;
  font-weight: 400;
  padding-top: 1em;
}
.inner .wrap .tutorial #tuto_text2 {
  font-size: 0.94rem;
  display: inline-block;
  font-weight: 400;
  padding-top: 1em;
  display: none;
}
.inner .wrap .tutorial #tuto_close {
  font-size: 0.94rem;
  display: inline-block;
  padding: 40% 0 0 90%;
  font-weight: 600;
  color: #0033ff;
  text-decoration: none;
}
.inner .wrap .tutorial #dot_box {
  position: absolute;
  top: 40%;
  left: 45%;
  color: #333;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 8px;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.7333333333));
}
.inner .wrap .tutorial #dot_box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #333;
  border-radius: 50%;
}
.inner .wrap .tutorial #mouse {
  position: absolute;
  top: 70%;
  left: 84%;
  transition: all 0.2s ease-in-out;
  animation-name: mouse_move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes mouse_move {
  from {
    top: 62%;
    left: 82%;
  }
  to {
    top: 48%;
    left: 49%;
  }
}
.inner .wrap .tutorial #touch {
  display: none;
  position: absolute;
  top: 55%;
  left: 58%;
  transition: all 0.2s ease-in-out;
  animation-name: finger_move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes finger_move {
  0% {
    left: 58%;
    transform: scale(1.6);
  }
  40% {
    left: 49%;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    left: 49%;
    transform: scale(1);
    opacity: 0.1;
  }
  60% {
    left: 49%;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    left: 58%;
    transform: scale(1.6);
  }
}
.inner .wrap .swiper {
  width: 40%;
  border-radius: 15px;
  position: absolute;
  top: 29%;
  left: 30%;
  font-family: "Noto Sans KR";
}
.inner .wrap .swiper-slide {
  border-radius: 15px;
  text-align: center;
  background: #F4F1EA;
  display: flex;
  align-items: center;
  padding: 3% 8%;
}
.inner .wrap .swiper-slide img {
  display: block;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.8em;
}
.inner .wrap .swiper-slide ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner .wrap .swiper-slide #sub_title {
  font-size: 1.56rem;
  font-weight: bold;
  line-height: 1.2;
}
.inner .wrap .swiper-slide #sub_text1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1em 0 2em;
  color: #333;
  line-height: 1.2;
}
.inner .wrap .swiper-slide #sub_text2 {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 2.6em;
  line-height: 1.2;
}
.inner .wrap .swiper-slide #sub_link a {
  font-size: 1.25rem;
  padding: 0.38em 1.6em 0.5em;
  background: #0078ff;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  font-weight: bold;
}
.inner .wrap .swiper-slide #sub_link a:hover {
  background: #fff;
  border-color: #0078ff;
  color: #0078ff;
}
.inner .wrap .button {
  color: #333 !important;
  border-radius: 5px;
}
.inner .wrap .button:hover {
  color: #0078ff !important;
}

@media (max-width: 1411px) {
  .inner .wrap .tutorial #tuto_close {
    padding: 7em 0 0 16em;
  }
  @keyframes mouse_move {
    from {
      top: 62%;
      left: 82%;
    }
    to {
      top: 49%;
      left: 50%;
    }
  }
}
@media (max-width: 1350px) {
  .inner .wrap .menu_text #depth_1 {
    padding: 0 0.8em;
  }
  .inner .wrap .menu_text #depth_1 > li {
    padding: 1.4em 0;
  }
  .inner .wrap .menu_text #depth_1 > li:first-child {
    padding-top: 3em;
  }
  .inner .wrap .menu_text #depth_1 a {
    width: 25%;
  }
  .inner .wrap .menu_text #depth_1 #depth_2 {
    padding-left: 0;
  }
  .inner .wrap .menu_text #depth_1 #depth_2 > li {
    margin-right: 1em;
  }
  .inner .wrap .menu_text #depth_1 #depth_2 a {
    padding-bottom: 0.6em;
  }
}
@media (max-width: 1024px) {
  .inner .wrap .custom_card {
    left: 4%;
  }
  .inner .wrap .tutorial {
    left: 39.4%;
    padding: 0.8em;
  }
  .inner .wrap .tutorial #tuto_text1 {
    display: none;
  }
  .inner .wrap .tutorial #tuto_text2 {
    display: block;
    padding-top: 0.5em;
  }
  .inner .wrap .tutorial #tuto_close {
    padding: 5.6em 0 0 12.4em;
  }
  .inner .wrap .tutorial #dot_box {
    top: 44%;
    left: 44%;
  }
  .inner .wrap .tutorial #mouse {
    display: none;
  }
  .inner .wrap .tutorial #touch {
    display: block;
  }
  .inner .wrap .swiper {
    top: 25%;
    left: 31%;
  }
  .inner .wrap .swiper .swiper-slide #sub_title {
    font-size: 1rem;
  }
  .inner .wrap .swiper .swiper-slide #sub_text1 {
    font-size: 0.8rem;
  }
  .inner .wrap .swiper .swiper-slide #sub_link a {
    font-size: 0.8rem;
    padding: 0.38em 1.4em 0.5em;
  }
  .inner .wrap .swiper .swiper-slide img {
    padding-left: 1em;
    margin-right: 0.2em;
  }
  .inner .wrap .custom_card #custom_title {
    font-size: 1.88rem;
  }
  .inner .wrap .custom_card #custom_text {
    font-size: 1.56rem;
  }
  .inner .wrap .custom_card #custom_link a {
    font-size: 1.2rem;
    padding: 0.34em 1.4em 0.42em;
  }
  .inner .wrap .pc {
    top: 28.4%;
    right: 17.4%;
  }
  .inner .wrap .pc:hover {
    right: 15%;
  }
  .inner .wrap .bag {
    bottom: 18%;
    left: 30%;
  }
  .inner .wrap .bag:hover {
    left: 28%;
  }
  .inner .wrap .trip {
    top: 12%;
    left: 51%;
  }
  .inner .wrap .trip:hover {
    left: 48.6%;
  }
  .inner .wrap .movie {
    top: 10%;
    left: 71.6%;
  }
  .inner .wrap .movie:hover {
    left: 69.8%;
  }
  .inner .wrap .delievery {
    bottom: 4%;
    right: 46.6%;
  }
  .inner .wrap .delievery:hover {
    right: 44%;
  }
  .inner .wrap .car {
    top: 5.2%;
    left: 25.2%;
  }
  .inner .wrap .car:hover {
    left: 23.2%;
  }
}
@media (max-height: 880px) {
  .inner .wrap h1 {
    top: 2%;
  }
}/*# sourceMappingURL=style.css.map */